<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Player</title>
  </head>
  <body>
    <h1>Edit Player Name</h1>
	<h4><%= player.player %> </h4>

    <form action="/players/<%= player.id %>?_method=PUT" method="POST" autocomplete="off">
	  <input type="text" value="<%= player.player %>" name="player"/>
      <button type="submit">Update Player Name</button>
    </form>
  </body>
</html>
